<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <a href="ourway">We will prepare schedule for you (researched based) </a>
    <br />
    <a onclick="f()">Manual schedule</a>
    <form action="/home" method="POST">
      <input name="my_time" placeholder="enter time" />
      <button type="submit">my way of study</button>
    </form>

    <script>
      function f() {
        alert("enter time field and then press button");
      }

      //   function ff() {
      //     document.querySelector(".ii").style.visibilty = "visible";
      //   }
    </script>
  </body>
</html>
